<!--
<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">

    Always a pleasure scaffolding your apps.
  </p>
    <div ng-repeat="thing in awesomeThings">
        {{thing}}
    </div>
  <p><a class="btn btn-lg btn-success" href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
    <div class="gridStyle" ng-grid="gridOptions"></div>
    <div class="selectedItems">{{selectedRow}}</div>
    <div enter="panel" leave="panel" class="superhero superman flash batman" ></div>
     <dumb-password></dumb-password>
     <div panel="">
         &lt;!&ndash;possible issues with element restrictions using transculsion, change to class or atrribute in the directive&ndash;&gt;
         <div class="button" click="testFunction()">Click me! Again</div>
     </div>


</div>



<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->
